
<!Doctype html>
<html>

<head>
    <title>Apply Now</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body onload="loadLists()">



    <div class="headingz">
        <h3>Personal Information</h3>
    </div>


    <form>
        <ul class="form-style-1">

            <li>
                <label>
                    Names <span class="required">*</span>
                </label>

                <input type="text" id="names" autofocus class="field-long" placeholder="First Names" />

            </li>

            <li>
                <label>
                    Last Name <span class="required">*</span>
                </label>

                <input type="text" id="lastname" class="field-long" placeholder="Last Name" />

            </li>



            <li>
                <label>
                    Gender<span class="required">*</span>
                </label>
                <select class="field-long" id="gender"></select>
            </li>

            <li>
                <label>
                    DOB<span class="required">*</span>
                </label>
                <input type="date" id="dob" class="field-long" placeholder="Date Of Birth" />
            </li>



            <li>
                <label>
                    Identity Number <span class="required">*</span>
                </label>
                <input type="number" id="idnumber" class="field-long" placeholder="RSA Identity Number" required />
            </li>


            <li>
                <label>
                    Cell Number <span class="required">*</span>
                </label>
                <input type="number" id="cellnumber" class="field-long" placeholder="Cell Number" required />
            </li>


            <li>
                <label>
                    Email Address <span class="required">*</span>
                </label>
                <input type="email" id="email" class="field-long" placeholder="Email Address" required />
            </li>

            <li>

                <input type="button" data-toggle="collapse" data-target="#Personal2" value="Next" />
            </li>

        </ul>



        <div id="Personal2" class="collapse">
            <ul class="form-style-1">
                <li>
                    <label>
                        Nationality <span class="required">*</span>
                    </label>
                    <select id="nationality" autofocus class="field-long"></select>
                </li>



                <li>
                    <label>
                        Population <span class="required">*</span>
                    </label>
                    <select id="population" class="field-long"></select>
                </li>



                <li>
                    <label>
                        Driver's Licence
                    </label>
                    <input type="text" id="licence" class="field-long" placeholder="Code 10, 8, 14 etc" required />
                </li>



                <li>
                    <label>
                        Marital Status <span class="required">*</span>
                    </label>
                    <select id="marital" class="field-long"></select>
                </li>

                <li>
                    <label>
                        Home Language <span class="required">*</span>
                    </label>
                    <input type="text" id="homelanguage" class="field-long" placeholder="Home Language" required />
                </li>


                <li>
                    <label>
                        Prefered Communication Language <span class="required">*</span>
                    </label>
                    <select id="pre" class="field-long">
                        <option value="English">English</option>
                        <option value="Afrikaans">Afrikaans</option>
                    </select>
                </li>

                <li>
                    <label>
                        Other Language 1 <span class="required">*</span>
                    </label>
                    <input type="text" id="langone" class="field-long" placeholder="Other Language" required />
                </li>
                <li>

                    <input type="button" data-toggle="collapse" data-target="#Personal3" value="Next" />
                </li>
            </ul>
        </div>

        <div id="Personal3" class="collapse">
            <ul class="form-style-1">
                <li>
                    <label>
                        Other Language 2
                    </label>
                    <input type="text" autofocus id="langtwo" placeholder="Other Language" class="field-long" required />
                </li>


                <li>
                    <label>
                        Other Language 3
                    </label>
                    <input type="text" id="langthree" class="field-long" placeholder="Other Language" required />
                </li>


                <li>
                    <label>
                        Application Field <span class="required">*</span>
                    </label>
                    <select id="field" class="field-long"></select>
                </li>

                <li>
                    <label>
                        Application Type <span class="required">*</span>
                    </label>
                    <select id="apptype" class="field-long"></select>
                </li>
                <li>

                    <input type="button" data-toggle="collapse" data-target="#Personal4" value="Next" />
                </li>

            </ul>
        </div>


        <div id="Personal4" class="collapse">
            <ul class="form-style-1">
                <li>
                    <label>
                        Username <span class="required">*</span>
                    </label>
                    <input type="text" autofocus id="username" placeholder="Username" class="field-long" required />
                </li>


                <li>
                    <label>
                        Password <span class="required">*</span>
                    </label>
                    <input type="password" id="passNew" class="field-long" placeholder="New Password" required />

                </li>

                <li>
                    <label>
                        Confirm Password <span class="required">*</span>
                    </label>
                    <input type="password" id="cpass" class="field-long" placeholder="Confirm Password" required />
                    <input type="checkbox" id="pwcheck" onchange="unhidePassword()" /><label>Show Password</label>
                </li>



                <li>
                    <input type="button" id="btnApplyNow" value="Submit Application" />
                    <input type="button" value="Cancel" />
                </li>
            </ul>
        </div>

    </form>


    @*Will be moved to seperate js file*@
    <script>



        $("#btnApplyNow").click(function () {

            var options = {};
            options.url = "http://localhost:53017/api/Applicant/Apply";
            options.type = "POST";

            var obj = {};
            obj.FirstName = $("#names").val();
            obj.LastName = $("#lastname").val();
            obj.EmailAddress = $("#email").val();
            obj.FkGenderId = $("#gender").val();
            obj.DOB = $("#dob").val();
            obj.IdNumber = $("#idnumber").val();
            obj.FkNationalityId = $("#nationality").val();
            obj.FkPopulationId = $("#population").val();
            obj.CellNumber = $("#cellnumber").val();
            obj.DriversLicence = $("#licence").val();
            obj.FkMaritalStatusId = $("#marital").val();
            obj.HomeLanguage = $("#homelanguage").val();
            obj.Prefered = $("#pre").val();
            obj.FirstOtherLanguage = $("#langone").val();
            obj.SecondOtherLanguage = $("#langtwo").val();
            obj.ThirdOtherLanguage = $("#langthree").val();
            obj.FkApplicationTypeId = $("#apptype").val();
            obj.FkApplicationFieldId = $("#field").val();
            obj.Username = $("#username").val();
            obj.NewPassword = $("#passNew").val();
            obj.ConfirmPassword = $("#cpass").val();

            options.data = JSON.stringify(obj);
            options.contentType = "application/json";
            options.dataType = "html";
            crossDomain: true;

            options.success = function (msg) {
                alert("Application Successfully Submitted");
            };

            options.error = function () {
                alert("Could Not Submit Application!");
            };

            $.ajax(options);

        });
    </script>


</body>
</html>
