
@{
    ViewBag.Title = "Apply";
}

<h2>Apply</h2>
@using (Html.BeginForm())
{

    <button id="btnRegister">Send Application</button>
    <div id="Message"></div>
}

<!Doctype html>
<html>
<head>
    <title>Apply Now</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>
    <button id="btnRegister">Send Application</button>
    <div id="Message"></div>
</body>
</html>
<script type="text/javascript">
    $(function () {


        $('#btnRegister').on("click", function () {
            var Applicant = {
                FirstName: 'Shalom',
                MiddleName: 'Kaizer',
                LastName:'Marimi',
                FkGenderId:1,
                DOB:'1992/06/01',
                IdNumber:'9206015593064',
                FkNationalityId:1,
                FkPopulationId:1,
                CellNumber:'0794260321',
                EmailAddress:'shalommarimi@gmail.com',
                DriversLicence:'Code 10',
                FkMaritalStatusId:1,
                HomeLanguage:'Tsonga',
                Prefered:'Tsonga',
                FirstOtherLanguage:1,
                SecondOtherLanguage:1,
                ThirdOtherLanguage:1,
                FkApplicationFieldId:1,
                FkApplicationTypeId:1,
                Username:'shalommarimi',
                New_Password:'Lulama.01',
                ConfirmPassword:'Lulama.01',
                ImagePath:'/desktopp'
            };

            $.ajax({

                type: "POST",
                url: 'http://localhost:52900/api/Applicant/Register',
                data: Applicant,
                datatype: 'json', contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
            })
            .success(function (data) {
                var Output = "Thank you for applying";
                $('#Message').html(Output);
            })
            .error(function (xhr, ajaxOptions, thrownError) {
                $('#Message').html("Error: An error occured");
            });
            return false;
        });


    });


</script>

<style type="text/css">
    #loading {
        display: none;
        background-color: gray;
        z-index: 999999;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 300px;
        filter: alpha(opacity-75);
        -khtml-opacity: 0.7;
        -moz-opacity: 0.75;
        opacity: 0.75;
    }
</style>

<div id="loading"><img src="~/Images/loader.gif" /></div>



@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <input type="text" id="txtName" />
    <input type="button" id="btnGet" value="Get Current Time" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnRegister").click(function () {
                var person = '{Name: "' + $("#txtName").val() + '" }';
                $.ajax({
                    type: "POST",
                    url: "/api/Applicant/Register",
                    data: person,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        alert("Hello: " + response.Name + ".\nCurrent Date and Time: " + response.DateTime);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
    </script>
</body>
</html>*@