.section-apply {
    background-image: url('../Images/finalback.jpg');
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
}
.btn:hover {
        color: #2A2B7B;
        border: solid #ffffff 2px;
        background-color: #FCBE1B;
    }
.clearfix{
    clear: both;
    padding: 0;
    margin: 0;
    height: 5px;
    display: block;}