
.login-section {
    height: 100% !important;
    width: 100% !important;
    margin: auto;
    background-repeat: no-repeat;
    background-image: url('../Images/finalback.jpg');
    display: table;
    top: 0;
    background-size: cover;
}

#login {
    margin: 0 auto;
    margin-top: 190px;
    vertical-align: middle;
    width:510px;
    height: 55%;
    text-align: center;
    background-color: rgb(42, 43, 123);
    opacity: 0.7;
    border-radius: 4px;
}

/*.login-section .form-control {
    content: "\f007";
    font-family: "FontAwesome";
    color: #fcbe1b;
    background-color: #ffffff;
    padding-top: 7px;
    font-size:x-large;
    text-align:center;
}*/

#forgotpassword p {
    font-size: large;
}

#forgotpassword a {
    color: #FCBE1B;
}

#login img {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 6px;
}

hr {
    border-top-color: #FCBE1B;
}



.text-danger {
    color: red;
}

ul {
    list-style: none;
    margin: 10px;
}

#btn {
    padding: 5px 90px;
}

.heading3 h3 {
    color: #2A2B7B;
    font-family: 'Yantramanav', sans-serif;
    text-align: center;
    font-size: 200%;
    padding-top: 50px;
    
}


    .heading3 h3:after {
        width: 120px;
        height: 2px;
        background-color: #fcbe1b;
        display: block;
        content: "";
        margin: 2px auto;
    }
