* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

.cycle-slideshow {
    width: auto;
    display: block;
    position: relative;
    margin: 0 auto; /*not really necessary*/
}

.cycle-prev, .cycle-next {
    font-size: 200%;
    color: #FCBE1B;
    display: block;
    position: absolute;
    z-index: 9999;
    cursor: pointer;
    top: 30%;
    vertical-align: middle;
    font-weight: bolder;
}

.cycle-prev {
    left: 10%;

}

.cycle-next {
    right: 10%;
}

.cycle-pager {
    width: 100%;
    text-align: center;
    position: absolute;
    display: block;
    bottom: -13px;
    z-index: 9999;
    cursor: pointer;
   
}

    .cycle-pager span {
        text-indent: 10%;
        white-space: nowrap;
        margin: 0 10px;
        width: 8px;
        display: inline-block;
        height: 8px;
        border: 1px solid #2A2B7B;
        border-radius: 50%;
    }

    .cycle-pager .cycle-pager-active {
        background-color: #FCBE1B;
    }
