
<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Subscription</title>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
</head>

<body>

    


  <h1>Customer Manager</h1>
    <form>
        <table border="1">

            <tr>
                <td>First Name :</td>
                <td><input id="firstname" type="text" /></td>
            </tr>
            <tr>
                <td>Last Name :</td>
                <td><input id="lastname" type="text" /></td>
            </tr>
            <tr>
                <td>Email Address :</td>
                <td><input id="emailaddress" type="text" /></td>
            </tr>

            <tr>
        <td>Customer ID :</td>
        <td>
            <select id="gender"></select>
            
        </td>
    </tr>
            <tr>
                <td colspan="2">
                    <input type="button" id="btnRegister"
                           value="Insert" />
                    <input type="button" id="update"
                           value="Update" />
                    <input type="button" id="delete"
                           value="Delete" />
                </td>
            </tr>
        </table>
        <br />
        <div id="msg"></div>
    </form>




    <script>

        $("#btnRegister").click(function () {
            var options = {};
            options.url = "http://localhost:53017/api/Default/Subscribe";
            options.type = "POST";

            var obj = {};
            obj.FirstName = $("#firstname").val();
            obj.LastName = $("#lastname").val();
            obj.EmailAddress = $("#emailaddress").val();
            obj.FkGenderId = $("#gender").val();

            options.data = JSON.stringify(obj);
            options.contentType = "application/json; charset=utf-8";
            options.dataType = "json";
            crossDomain: true;
            options.success = function (msg) {
                $("#msg").html(msg);
            };
            options.error = function () {
                $("#msg").html("Error while  calling the Web API!");

            };
            $.ajax(options);
        });
    </script>

    @*<script>

        $(document).ready(function () {
            var options = {};
            options.url = "http://localhost:53017/api/Default/getList";
            options.type = "GET";
            options.dataType = "json";
            options.success = function (data) {
                data.forEach(function (element) {
                    $("#gender").append("<option>" 
                    + element.GenderValue + "</option>");
                });
            };
            options.error = function () {
                $("#msg").html("Error while  calling the Web API!");
                         
            };
            $.ajax(options);
        });
    </script>*@
</body>

</html>

